body {
    color: white;
    background: #DB7093;
    margin: 0px;
}

header {
    border-bottom: solid 2px #FFF0F5;
    padding: 20px;
    font-size: 32px;
    color: #D8BFD8;
}

section {
    background: #FFC0CB;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}